<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586307420979-j44dldv3ggifbblij3u6qvurip834rgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586307420979-j44dldv3ggifbblij3u6qvurip834rgi</string>
	<key>API_KEY</key>
	<string>AIzaSyBZDPtKLK9-grHPIPj8Oy5E2TVcy1e5a5k</string>
	<key>GCM_SENDER_ID</key>
	<string>586307420979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MeikProject.MaikDataBase</string>
	<key>PROJECT_ID</key>
	<string>meikdatabase</string>
	<key>STORAGE_BUCKET</key>
	<string>meikdatabase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586307420979:ios:724b1dea4fb21b3cbbb446</string>
</dict>
</plist>